@model GuideTourWeb.Models.TourViewModels.IndexTourViewModel
@{
    ViewData["Title"] = "Übersicht";
}
    <div class="container-sm mt-n4 mb-3">
        <div class="row">
            <div class="col-12">
                <input type="text" class="form-control" asp-for="TeacherId" id="teacherId" placeholder="Kürzel des Lehrers...">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 border-right">
            <div id="notStartedTours" class="row">
                <div class="col-12 text-center text-white mb-4">
                    <a href="#" data-toggle="modal" data-target="#createTourModal">
                        <i class="fa fa-3x fa-plus-circle fa-pull-left text-white"></i>
                    </a>
                    <h3>Startende Führungen</h3>
                    <h6>Hier finden Sie zu startende Führungen, welche bestätigt werden müssen.</h6>
                </div>
                @foreach (TourViewModel item in Model.NotStarted)
                {
                <div id="@("tourNotStarted_" + item.Id)" class="col-12 col-lg-6 mt-3">
                    <div class="card">
                        <div class="card-header bg-secondary-color h4">@item.GuideName</div>
                        <div class="card-body bg-ternary-color text-white">
                            <p>
                                <strong>Team:</strong> @item.Team<br />
                                <strong>Gast:</strong> @(string.IsNullOrWhiteSpace(item.VisitorName) ? "--" : item.VisitorName)
                            </p>
                            <button type="button" class="btn bg-primary-color text-white w-100 font-weight-bold" 
                                    onclick="startTourAjax('@item.Id');">Bestätigen</button>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
        <div class="col-12 col-md-6 border-left">
            <div id="startedTours" class="row">
                <div class="col-12 text-center text-white mb-4">
                    <h3>Laufende Führungen</h3>
                    <h6>Hier finden Sie laufende Führungen, welche beendet werden können.</h6>
                </div>
                @foreach (TourViewModel item in Model.Started)
                {
                <div id="@("tourStarted_" + item.Id)" class="col-12 col-lg-6 mt-3">
                    <div class="card">
                        <div class="card-header bg-secondary-color h4">@item.GuideName</div>
                        <div class="card-body bg-ternary-color text-white">
                            <p>
                                <strong>Team:</strong> @item.Team<br />
                                <strong>Führungsstart:</strong> @item.StartedTour.Value.ToString("HH:mm")<br />
                                <strong>Gast:</strong> @(string.IsNullOrWhiteSpace(item.VisitorName) ? "--" : item.VisitorName)
                            </p>
                            <button type="button" class="btn bg-primary-color text-white w-100 font-weight-bold"
                                    onclick="completeTourAjax('@item.Id');">Beenden</button>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>


    <div id="createTourModal" class="modal fade" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-secondary-color text-dark">
                    <h5 class="modal-title">Neue Führung erfassen</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bg-primary-color text-white">
                    <form id="newTourForm" method="post" asp-action="NewTour" asp-controller="Tour"
                          data-ajax="true"
                          data-ajax-success="onNewTourCreatedSuccess"
                          data-ajax-method="post">
                        <div class="form-group">
                            @{
                                int numberOfCols = 3;
                                int numberOfRows = 0;
                                int cntTeams = Model.Teams.Count;
                                int currentTeam = 0;
                                int counter = 0;

                                numberOfRows = cntTeams / numberOfCols;

                                if (cntTeams % numberOfCols != 0)
                                    numberOfRows++;

                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    @for (int i = 0; i < numberOfRows; i++)
                                    {
                                        <div class="row mt-1">
                                            <div class="col-12 text-center">
                                                @while (counter < 3 && currentTeam < cntTeams)
                                                {
                                                    <label class="btn btn-secondary active w-100">
                                                        <input type="radio" name="guideTeam" value="@Model.Teams[currentTeam].TeamName" id="@("radio_" + Model.Teams[currentTeam].TeamName)" @(currentTeam == 0 ? "checked" : "")> @Model.Teams[currentTeam].TeamName
                                                    </label>
                                                    counter++;
                                                    currentTeam++;
                                                }
                                            </div>
                                        </div>
                                        counter = 0;
                                    }
                                </div>
                            }
                        </div>
                        <div class="form-group">
                            <label for="guideName">Name</label>
                            <select multiple class="form-control bg-ternary-color text-white" asp-for="GuideName" id="guideName" required>
                                @foreach (TeamViewModel t in Model.Teams)
                                {
                                    @foreach (Guide g in t.Guides)
                                    {
                                        <option name="@Html.Raw(t.TeamName)">@g.Name</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group text-white">
                            <label for="visitorName">Gast (optional)</label>
                            <input type="text" class="form-control bg-primary-color text-white" asp-for="VisitorName" id="visitorName" placeholder="Name des Gastes...">
                        </div>
                        <input id="createTourGuideId" type="hidden" value="">
                        <input id="createTourGuideTeamId" type="hidden" value="">
                        <button type="submit" class="btn bg-ternary-color text-white w-100 font-weight-bold">Erstellen</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

@section Scripts {
    <script src="~/js/Touren.js" asp-append-version="true"></script>

    <script>
        $(document).ready(function () {
            $('#guideName').children().hide();

            fillOptionsOfSelect('@Model.Teams.First().TeamName');
        });

        $("#guideTeam").change(function(){
            var newSelectedTeam = $(this).children("option:selected").val();
            fillOptionsOfSelect(newSelectedTeam);
        });

        $('input[type=radio][name=guideTeam]').change(function() {
            fillOptionsOfSelect(this.value);
        });

        function fillOptionsOfSelect(teamname) {
            $('#guideName').children().hide();
            $('#guideName').children('option[name="' + teamname + '"]').show();
            $("#guideName").prop("selectedIndex", 0).val(); 
        }

        onNewTourCreatedSuccess = function (data) {
            $('#createTourModal').modal('hide');
            $("#newTourForm")[0].reset();
        }

        function getTeacherId() {
            return $('#teacherId').val();
        }
    </script>
}t5